@import url(./InterWeb/inter.css);

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #fff; 
}

.page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #2A2C2F;
  min-width: 320px;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* параметры, которые будут меняться */
  margin: 0 16px;
  padding: 16px 0;
}

@media screen and (min-width: 470px) {
  .header {
    margin: 0 24px;
    padding: 28px 0;
  }
}

@media screen and (min-width: 928px) {
  .header {
    margin: 0 48px;
    padding: 30px 0;
  }
}

.header__logo {
  margin: 0;
  padding: 0;
}


.header__logo img {
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
  width: 142px;
  height: 42px;
}

@media screen and (min-width: 470px) {
  .header__logo img {
    width: 176px;
    height: 52px;
  }
}

.header__list {
  margin: 14px 0 0;
  padding: 0;
  height: 100%;
  display: flex;
}

@media screen and (min-width: 470px) {
  .header__list {
    margin: 18px 0 0;
  }
}

.header__list li {
  list-style: none;
  margin: 0 0 0 18px;
  padding: 0;
}

.header__lang-link {
  color: #fff;
  transition: all 0.3s ease;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.header__lang-link:hover, 
.header__logo:hover {
  opacity: 0.6;
}

@media screen and (min-width: 470px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }
}

.header__lang-link_ru {
  text-decoration: underline;
}

.header__lang-link_en {
  text-decoration: none;
}

.text_ru {
  display: block;
}

.text_en {
  display: none;
}

.lead {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 730px) {
  .lead {
    margin: 20px 0;
  }
}

@media screen and (min-width: 928px) {
  .lead {
    margin: 20px 148px 0;
  }
}


@media screen and (min-width: 1200px) {
  .lead {
    margin: 20px 148зч;
  }
}

.lead__title {
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}


@media screen and (min-width: 470px) {
  .lead__title {
    width: 65%;
  }
}

@media screen and (min-width: 730px) {
  .lead__title {
    font-size: 96px;
    line-height: 104%;
    margin: 0 24px 0;
    width: auto;
    padding: 0;
  }
}

.lead__subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin: 16px 16px 0;
  padding: 0;
}

@media screen and (min-width: 440px) {
  .lead__subtitle {
    margin: 16px 64px 0;
  }
}

@media screen and (min-width: 730px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 32px 64px 0;
    width: auto;
  }
}


.lead__image {
  object-fit: contain;
  margin: 40px 0 0;
  min-height: 200px;
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 730px) {
  .lead__image {
    margin: 56px auto 0;
    max-width: 984px;
  }
}

@media screen and (min-width: 1200px) {
  .lead__image {
    margin: 64px auto 0;
  }
}

.lead__caption {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  text-transform: uppercase;
  margin: 8px 16px 0;
}

@media screen and (min-width: 730px) {
  .lead__caption {
    margin: 8px 24px 0;
  }
}  

@media screen and (min-width: 928px) {
  .lead__caption {
    margin: 8px 0 0;
  }
}



.intro {
  margin: 64px 16px 0;
  padding: 0;
}

@media screen and (min-width: 730px) {
  .intro {
    margin: 88px 24px 0;
  }
}

@media screen and (min-width: 928px) {
  .intro {
    margin: 92px 48px 0;
    max-width: 690px;
  }
}

@media screen and (min-width: 1200px) {
  .intro {
    margin: 92px 148px 0;
    max-width: 690px;
  }
}


.intro__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 730px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }
}

.intro__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin: 40px 0 0;
  padding: 0;
}


.intro__list {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left; 
  margin: 34px 0 0;
  padding: 0;
}

.intro__list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.intro__list span {
  font-weight: 400;
}

.photo-grid {
  display: grid;
  margin: 64px 16px 0;
  padding: 0;
  gap: 12px;
}

@media screen and (min-width: 720px) {
  .photo-grid {
    margin: 88px 24px 0;
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (min-width: 928px) {
  .photo-grid {
    margin: 92px 48px 0;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .photo-grid {
    margin: 92px 48px 0;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    gap: 16px;
  }
}

.photo-grid img {
  width: 100%;
}

.places {
  width: 100%;
  margin: 64px 0 0;
  padding: 0;
}

@media screen and (min-width: 720px) {
  .places {
    margin: 88px 0;
  }
}

@media screen and (min-width: 928px) {
  .places {
    margin: 92px 0;
  }
}


.place {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 720px) {
  .place {
    box-sizing: border-box;
    display: grid;
    grid-template: minmax(46px, max-content) 1fr / 340px 1fr;
    padding: 0 24px;
    margin: 73px 0;
    row-gap: 48px;
    column-gap: 28px;
    grid-template-areas: 
    "place__title place__website"
    "place__image place__paragraph";
  }
}

@media screen and (min-width: 928px) {
  .place {
    column-gap: 32px;
    row-gap: 48px;
    grid-template: minmax(76px, max-content) 1fr / 440px 1fr;
    padding: 0 48px;
    margin: 80px 0;
    grid-template-areas: 
    "place__title place__website"
    "place__image place__paragraph";
  }
}

@media screen and (min-width: 1200px) {
  .place {
    column-gap: 40px;
    row-gap: 48px;
    grid-template: minmax(76px, max-content) 1fr / 460px 1fr;
    padding: 0 148px;
    margin: 80px 0;
    grid-template-areas: 
    "place__title place__website"
    "place__image place__paragraph";
  }
}

.place__title {
  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 0 16px;
  grid-area: place__title;
}

@media screen and (min-width: 720px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    margin: 0;
  }
}

@media screen and (min-width: 928px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
  }
}

.place__website {
  margin: 32px 16px 0;
  grid-area: place__website;
}

@media screen and (min-width: 720px) {
  .place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }
}

.place__url-heading {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: left;
  color: #AAAAAA;
  margin: 0 0 12px;
  padding: 0;
  text-transform: uppercase ;
}


.place__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  text-decoration-line: underline;
}

.place__image {
  width: 100%;
  margin: 32px 0 0;
  grid-area: place__image;
}

@media screen and (min-width: 720px) {
  .place__image {
    margin: 0;
  }
}

.place__paragraph {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 16px 0;
  grid-area: place__paragraph;
}

.place__paragraph p {
  margin: 25px 0 0;
}

@media screen and (min-width: 720px) {
  .place__paragraph {
    margin: 0;
    width: 100%;
    padding: 0;
  }
  
  .place__paragraph p{
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .place__paragraph p:nth-child(2){
    margin: 25px 0 0;
    width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 928px) {
  .place__paragraph {
    font-size: 18px;
  }
}

.cover {
  width: 100%;
  margin: 66px 0 0;
}

.cover__overlay {
  position: relative;
  width: 100%;
  height: calc(100vw/1.6);
  min-height: 200px;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: .3;
  z-index: 2;
  transition: all 0.3s ease;
}

.cover__overlay:hover:after {
  opacity: .8;
}

.cover__background {
  width: 100%;
  max-width: 1184px;
  height: calc(100vw/1.6);
  min-height: 200px;
  max-height: 740px;
  margin: 0 auto;
  background-image: url(./images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.cover__title {
  position: relative;
  z-index: 3;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 16px 16px;
  padding: 0;
}

.cover__title p:first-child {
  margin: 0 auto;
}

@media screen and (min-width: 440px) {
  .cover__title {
    margin: 0 auto 32px;
    width: 55%;
  }
}

@media screen and (min-width: 730px) {
  .cover__title {
    width: 70%;
    font-size: 72px;
    line-height: 76px;
    }
  }

@media screen and (min-width: 928px) {
  .cover__title {
    width: 60%;
  }
}


.cover__subtitle {
  position: relative;
  z-index: 3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  white-space: pre-wrap;
}

@media screen and (min-width: 730px) {
  .cover__subtitle {
    width: 50%;
    font-size: 18px;
    line-height: 22px;
    white-space: normal;
  }
}

@media screen and (min-width: 928px) {
  .cover__subtitle {
    width: 35%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 64px 16px 24px;
  box-sizing: border-box;
}

@media screen and (min-width: 730px) {
  .footer {
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    padding: 88px 24px 24px;
  }
}

@media screen and (min-width: 928px) {
  .footer {
    padding: 92px 48px 24px;
  }
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer nav {
  margin: 0;
  padding: 0;
}

.footer li {
  list-style: none;
  margin: 32px 0 0;
  padding: 0;
}

@media screen and (min-width: 730px) {
  .footer li {
    display:inline-block;
    margin: 0 0 0 18px;
  }
}

.footer li:first-child {
  margin: 0;
}

.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  transition: all 0.3s ease;
}

.footer__link:hover {
  opacity: .8;
}


@media screen and (min-width: 730px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
  }
}

.footer__copiryght {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
  color: #FFFFFF;
  margin: 48px 0 0;
  transition: all 0.3s ease;
}

.footer__copiryght:hover {
  opacity: .8;
}

@media screen and (min-width: 730px) {
  .footer__copiryght {
    line-height: 16px;
    margin: 0;
    }
  }