.intro__list {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left; 
    margin: 34px 0 0;
    padding: 0;
  }
  
  .intro__list li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .intro__list span {
    font-weight: 400;
  }