.lead__title {
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 710px;
}

@media screen and (min-width: 470px) {
  .lead__title {
    width: 65%;
  }
}
  
  @media screen and (min-width: 730px) {
  .lead__title {
    font-size: 96px;
    line-height: 104%;
    margin: 0 auto 0;
    width: auto;
    padding: 0;
  }
}