.intro {
    margin: 64px 16px 0;
    padding: 0;
  }
  
  @media screen and (min-width: 730px) {
    .intro {
      margin: 88px 24px 0;
    }
  }
  
  @media screen and (min-width: 928px) {
    .intro {
      margin: 92px 48px 0;
      max-width: 690px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .intro {
      margin: 92px 148px 0;
      max-width: 690px;
    }
  }