.cover__background {
    width: 100%;
    max-width: 1184px;
    height: calc(100vw/1.6);
    min-height: 200px;
    max-height: 740px;
    margin: 0 auto;
    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }