.cover__title {
    position: relative;
    z-index: 3;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 16px 16px;
    padding: 0;
  }
  
  .cover__title p:first-child {
    margin: 0 auto;
  }
  
  @media screen and (min-width: 440px) {
    .cover__title {
      margin: 0 auto 32px;
      width: 55%;
    }
  }
  
  @media screen and (min-width: 730px) {
    .cover__title {
      width: 70%;
      font-size: 72px;
      line-height: 76px;
      }
    }
  
  @media screen and (min-width: 928px) {
    .cover__title {
      width: 60%;
    }
  }