.place {
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (min-width: 720px) {
    .place {
      box-sizing: border-box;
      display: grid;
      grid-template: minmax(46px, max-content) 1fr / 340px 1fr;
      padding: 0 24px;
      margin: 73px 0;
      row-gap: 48px;
      column-gap: 28px;
      grid-template-areas: 
      "place__title place__website"
      "place__image place__paragraph";
    }
  }
  
  @media screen and (min-width: 928px) {
    .place {
      column-gap: 32px;
      grid-template: minmax(76px, max-content) 1fr / 440px 1fr;
      padding: 0 48px;
      margin: 80px 0;
      grid-template-areas: 
      "place__title place__website"
      "place__image place__paragraph";
    }
  }
  
  @media screen and (min-width: 1200px) {
    .place {
      column-gap: 40px;
      grid-template: minmax(76px, max-content) 1fr / 460px 1fr;
      padding: 0 148px;
      grid-template-areas: 
      "place__title place__website"
      "place__image place__paragraph";
    }
  }