.header__list {
    margin: 14px 0 0;
    padding: 0;
    height: 100%;
    display: flex;
  }
  
  @media screen and (min-width: 470px) {
    .header__list {
      margin: 18px 0 0;
    }
  }
  
  .header__list li {
    list-style: none;
    margin: 0 0 0 18px;
    padding: 0;
  }